.container {
  max-width: 100%;
  padding: 0;
}

.box-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  padding-bottom: 20px;
}

.box {
  width: calc(33.33% - 20px); 
  min-width: 200px;
  background-color: #fcfcfd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 10px solid #87ceeb;
  margin-right: 20px; 
  padding: 10px; 
  transition: all 0.3s ease; 
}

.box:last-child {
  margin-right: 0;
}

.closed {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.chart-container {
  width: 50%;
  height: 60vh;
  background-color: #fcfcfd;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

@media (max-width: 768px) {
  .container {
    overflow-y: auto;
  }

  .box-container {
    justify-content: flex-start;
    flex-wrap: nowrap; 
    overflow-x: auto;
    padding-bottom: 0; 
    margin-bottom: 20px; 
    scroll-snap-type: x mandatory; 
  }

  .box {
    width: calc(45% - 20px); 
    min-width: auto;
    margin-right: 20px; 
    flex: 0 0 auto; 
    scroll-snap-align: start;
  }

  .box:last-child {
    margin-right: 0; 

  }

  .chart-container {
    margin-bottom: 100px;
    width: 100%;
    height: 50vh;
  }

  .chart {
    width: 100%; 
    height: 49vh;
  }
}
