.project-container {
  width: 90%;
  background-color: white;
  margin: 0 11px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

input-groups {
  position: relative;
  max-width: 100px;
  margin-bottom: 10px;
}

.input-groups .form-border {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
}

.input-group .form-control:focus {
  box-shadow: none;
  border-color: gray;
  background: none;
  cursor: pointer;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
 .table th{
 }

.table th,
.table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  background-color: skyblue;

  border-top: 1px solid #dee2e6;
}

.table th {
  background-color: #7199c1;
  color: #495057;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  

  .project-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    margin-bottom: 20px;
    transform: translate(0%, 7%);
    overflow-y: auto;
    position: relative;
  }

  .input-groups {
    position: relative;
    max-width: 135px;
    margin-bottom: 10px;
  }

  .form-control {
    margin-right: 8px;
  }
}

/* pagination */

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination .page-item {
  display: inline-block;
  margin: 0 5px;
}

.pagination .page-link {
  border-radius: 100%;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  padding: 0;
  font-size: 16px;
  border: 1px solid #ccc; 
}

.pagination .page-item.active .page-link {
  background-color: #2970bb;
  border-color: #2676cc;
  color: #fff;
  border: 1px solid #007bff; 
}

.circle-button {
  border-radius: 50%;
  width: 36px; 
  height: 36px; 
  text-align: center;
  padding: 0;
  font-size: 18px;
}

.btn-status {
  width: 100%;
  border: 2px solid #0a529f;
  color: #0a529f;
  background-color: white;
  font-size: 1.2rem;
  border-radius: 20px;
}

.btn-status:hover {
  background-color: #0a529f;
  color: #ffff;
}
